@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-gray-800 dark:text-gray-200 antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glitch-text {
    position: relative;
    text-shadow:
      0.05em 0 0 rgba(0, 255, 255, 0.75),
      -0.025em -0.05em 0 rgba(255, 0, 255, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    animation: glitch 500ms infinite;
  }

  .glitch-text span {
    position: absolute;
    top: 0;
    left: 0;
  }

  .glitch-text span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
  }

  .glitch-text span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.025em, 0.0125em);
    opacity: 0.8;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(0, 255, 255, 0.75), -0.05em -0.025em 0 rgba(255, 0, 255, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(0, 255, 255, 0.75), -0.05em -0.025em 0 rgba(255, 0, 255, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(0, 255, 255, 0.75), 0.025em 0.025em 0 rgba(255, 0, 255, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(0, 255, 255, 0.75), 0.025em 0.025em 0 rgba(255, 0, 255, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(0, 255, 255, 0.75), 0.05em 0 0 rgba(255, 0, 255, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(0, 255, 255, 0.75), 0.05em 0 0 rgba(255, 0, 255, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(0, 255, 255, 0.75), -0.025em -0.025em 0 rgba(255, 0, 255, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }

  .glowing-button {
    box-shadow: 0 0 5px #00E0FF, 0 0 10px #00E0FF, 0 0 20px #00E0FF;
  }

  .glowing-button-secondary {
    box-shadow: 0 0 5px #22d3ee, 0 0 10px #22d3ee;
  }
}
